<section class="menu-container" >
    <h1 class="sub-heading"> Our Menu</h1>
    <div class="banner">
      <div class="image">
        <img src="https://img.freepik.com/premium-psd/food-menu-restaurant-social-media-banner-template_65983-2335.jpg?w=826" alt="">
      </div>
      <div class="content">
          <h3>Limited sale</h3>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nostrum maxime quos eligendi error ad aliquid modi, suscipit alias iusto veritatis velit sed temporibus magni, voluptatibus impedit minima quis quidem!</span>
          <br>
          <a href="" class="btn">See More</a>
      </div>
    </div>
  </section>